.commentBlock {
    overflow-y: scroll;
    overflow-x: hidden;
    grid-row: 2;
}

.comment {
    position: relative;
    height: max-content;
    min-height: max-content;
    width: 100%;
    border-bottom: 1px solid var(--dark-mode-white);
    display: grid;
    grid-template-rows: 2em max-content 2em;
    justify-content: left;
    text-align: left;
    color: var(--dark-mode-white);
    background-color: rgba(125, 125, 125, .1);
}

.date {
    grid-row: 1;
    padding: 0 2rem;
    align-self: center;
    justify-self: left;
    color: var(--gray3);
    font-weight: 700;
    font-size: 14px;
}

.text {
    grid-row: 2;
    margin: 0;
    min-height: calc(100px - 4em);
    padding: 0 2rem;
}

.commentLikesDiv {
    grid-row: 3;
    align-self: center;
    justify-self: left;

    padding: 0 2rem;
    display: flex;
    justify-content: center;
    column-gap: .5em;
    font-size: 16px;

}

.comment .heart {
    width: 20px;
    display: inline-block;
    position: relative;
    top: 0;
    transform: none;
    cursor: pointer;
    
}

.comment .likesCount {
    line-height: 1em;
}

.comment .reportButtonBox {
    position: absolute;
    height: max-content;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    height: 25px;
    width: 7px;
}

.comment .reportButton {
    left: 1px;
    top: 0;
    height: 5px;
    width: 5px;
    position: absolute;
    border-radius: 50%;
    background-color: white;

    &::before {
        content: "";
        background-color: white;
        width: 5px;
        height: 5px;
        position: absolute;
        left: 0;
        top: 10px;
        border-radius: 50%;
    }

    &::after {
        content: "";
        background-color: white;
        width: 5px;
        height: 5px;
        position: absolute;
        left: 0;
        top: 20px;
        border-radius: 50%;
    }
}

.comment  .reportButtonText {
    z-index: 99999;
    position: absolute;
    content: '';
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}


.comment .reportButtonText {
    background: var(--dark-mode-white);
    width: max-content;
    color: black;
    text-align: left;
    // height: 25px;
    font-size: 15px;
    font-weight: 300;
    top: -5px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    overflow: hidden;
}

.comment .reportButtonBox:hover {
    .reportButtonText {
        opacity: 1;
        visibility: visible;
    }
    
}

.comment .reportButtonText:hover {
    background-color: var(--red3);
    color: white;
}

.comment .reportButtonText.green:hover {
    background-color: var(--green2);
}