@import './defaults.scss';

.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    padding: 0 0 50px 0;
}

.home .title {
    color: var(--dark-mode-white);
    text-align: center;
    margin: 10px auto 0 auto;
    font-size: 34px;
    width: 100%;
    padding: 0;
    height: 20%;

    @include tablet {
        font-size: 40px;
    }

    @include laptop {
        font-size: 46px;
    }

    .logoText {
        color: var(--yellow);
        display: inline-block;
    }
}

.home .subtitle {
    font-size: 14px;
    width: 100%;
    margin: 0;

    @include tablet {
        font-size: 16px;
    }

    @include laptop {
        font-size: 18px;
    }

    @include desktop {
        font-size: 20px;
    }

    @include largeDesktop {
        font-size: 24px;
    }
}

.home p {
    width: 100%;
    margin: 50px 0 0 0;  
    color: var(--dark-mode-white);
    padding: 0;
    font-size: 24px;
    text-align: center;
    justify-self: flex-end;

    @include tablet {
        font-size: 28px;
    }

    @include laptop {
        margin: 100px 0 0 0;
        width: 50%;
    }
}

.browseText {
   
}

.browseFollowUp, .postFollowUp {
    color: var(--dark-mode-white);
    width: 100% !important;
    order: 5;
    // padding: 5%;
    font-size: 16px !important;
    margin: 30px 0 0 0 !important;

    p {
        margin: 0 !important;
        text-align: left;
        font-size: 20px !important;
    }

    ul {
        text-align: left;
    }
    
    @include laptop {
        font-size: 22px !important;
        width: 40% !important;

        p {
            font-size: 24px !important;
        }
    }
}

.postText {

}

.home button {
    font-size: 22px;
    padding: 1em;
    border-radius: var(--border-radius-1);
    background-color: var(--dark-mode-white);
    color: var(--dark-mode-gray);
    border: none;
    margin: 40px 20% 0 20%;
    cursor: pointer;

    &:active {
        background-color: var(--dark-mode-white-2);
        box-shadow: inset 0px 0px 5px black;
    }

    @include laptop {
        margin: 40px 10% 30px 10%;
    }

    @include largeDesktop {
        margin: 40px 15% 0 15%;
    }

    
}

.browseButton {
    margin-bottom: 100px;
    
    @include laptop {
        order: 2;
    }
}

.postButton {
    @include laptop {
        order: 4;
    }
}