@import './defaults.scss';

.postPopup {
    overflow: scroll;
    position: fixed;
    left: 0;
    top: 55%;
    transform: translateY(-50%);
    width: 80%;
    min-height: 200px;
    // height: auto !important;
    height: 75%;
    max-height: max-content;
    margin: 0 10%;
    background-color: var(--dark-mode-white);
    border-radius: 20px;
    z-index: 9999;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    transition: all 1s;

    &.mount {        
        opacity: 1;
    }

    &.unmount {
        opacity: 0;
    }

    @include tablet {
        // top: 130px;
        width: 60%;
        margin: 0 20%;
        height: 70%;
    }

    @include laptop {
        width: 50%;
        height: 50%;
        margin: 0 25%;
    }

    @include desktop {
        height: 50%;
    }

    @include largeDesktop {
        width: 50%;
        margin: 0 25%;
        height: 450px;
        max-height: max-content;
    }
}

.postPopup h3 {
    @include desktop {
        font-size: 22px;
    }

    @include largeDesktop {
        font-size: 28px;
    }
}

.postPopup p {
    margin: 10px;
    font-size: 16px;

    @include largeDesktop {
        font-size: 25px;
    }
}

.exampleSubmission {
    border: 1px solid black;
    width: 90%;
    margin: auto;

    .title {
        font-weight: 600;
    }

    .url {

    }
}

.postPopup .buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;

    button {
        width: 40%;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        color: var(--dark-mode-gray2);
        padding: 1em;

        @include largePhones {
            width: 35%;
        }

        @include tablet {
            width: 20%;
        }

        @include largeDesktop {
            font-size: 20px;
        }
    }

    .submitButton {
        background-color: var(--green2);
    }

    .cancelButton {
       background-color: var(--red3);
    }

    .close {
        background-color: var(--gray3);
        
    }
}


.postPopup a {
    margin: 10px;
    display: block;
}

.loadingPopup {
    display: flex;
    height: 100%;
    align-content: center;
    transition: opacity 1s;

    .notLoading {
        opacity: 0;
    }

    .loading {
        opacity: 1;
    }
}

.logoBox {
    margin: auto;
    position: relative;
    width: 75%;
    height: 0;
    padding-bottom: 75%;

    @include desktop {
        // position: absolute;
        width: 75%;
        height: 75%;
        padding-bottom: 0;
    }
}

.loadingPopup .loadingLogo {
    margin: auto;    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}

.dot {
    width: 7%;
    height: 7%;
    top: 15%;
    background-color: var(--yellow);
    border-radius: 50%;
    position: absolute;
    opacity: 0;

    @include desktop {
        width: 3vh;
        height: 3vh;
        top: 3.5vh;
    }

    @include largeDesktop {
        width: 2.5vh;
        height: 2.5vh;
        top: 2.7vh;
    }
}

.dot.one {
    left: 9%;
    -webkit-animation: dot1 1.5s infinite;
    animation: dot1 1.5s infinite;
    
    @include desktop {
        left: 50%;
        transform: translateX(calc(-50% - 17vh));
    }

    @include largeDesktop {
        left: 50%;
        transform: translateX(calc(-50% - 13vh));
    }
}

.dot.two {
    left: 19%;    
    -webkit-animation: dot2 1.5s infinite;
    animation: dot2 1.5s infinite;

    @include desktop {
        left: 50%;
        transform: translateX(calc(-50% - 13vh));
    }

    @include largeDesktop {
        left: 50%;
        transform: translateX(calc(-50% - 9vh));
    }
}

.dot.three {
    left: 29%;
    -webkit-animation: dot3 1.5s infinite;
    animation: dot3 1.5s infinite;

    @include desktop {
        left: 50%;
        transform: translateX(calc(-50% - 9vh));
    }

    @include largeDesktop {
        left: 50%;
        transform: translateX(calc(-50% - 5vh));
    }
}

@keyframes dot1 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes dot2 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes dot3 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}