@import "./defaults.scss";

.postSnippet {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
    opacity: 0;
    
    &.loaded {
        visibility: visible;
        opacity: 1;
        transition: opacity 1s;
    }
    
}

.mainBlock {
    display: grid;

    margin-top: 20px;
    grid-template-rows: max-content 80vh max-content 20vh;
    grid-template-columns: max-content 1fr;
    row-gap: 0px;
    column-gap: 10px;

    @include tablet {
        row-gap: 5px;
        column-gap: 15px;
    }

    @include desktop {
        row-gap: 15px;
        column-gap: 25px;
    }

    @include largeDesktop {
        row-gap: 20px;
        column-gap: 30px;
    }

    @include wideScreen {
        row-gap: 30px;
    }
}

.titleBlock {
    grid-row: 1;
    grid-column: 2;
    position: relative;
    display: flex;
    flex-direction: column;
}

.titleTooltipBlock {
    margin: 0 auto 0 0;
    display: flex;
    align-items: center;
}

.postTitle {
    margin: 0;
    text-align: left;
    font-size: 24px;
    color: var(--dark-mode-white);

    @include largePhones {
        font-size: 26px;
    }

    @include tablet {
        font-size: 34px;
    }

    @include laptop {
        font-size: 36px;
        left: 40px;
    }

    @include desktop {
        font-size: 40px;
        left: 50px;
    }

    @include largeDesktop {
        font-size: 44px;
        left: 60px;
    }

    @include wideScreen {
        font-size: 48px;
        left: 60px;
    }
}

.postUrl {
    margin: 0 auto 0 0;
    text-align: left;
    font-size: 10px;
    color: var(--dark-mode-white);
    text-decoration: underline;
    font-weight: 500;

    @include tablet {
        font-size: 12px;
    }

    @include laptop {
        font-size: 14px;
        left: 40px;
    }

    @include desktop {
        font-size: 16px;
        left: 50px;
    }

    @include largeDesktop {
        font-size: 20px;
        left: 60px;
    }

    @include wideScreen {
        font-size: 22px;
        left: 60px;
    }
}

.likesBlock {
    cursor: pointer;
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1em;
    position: relative;
    width: 40px;
    

    &:hover {
        .heart {
            // animation: pulse 2s ease infinite;
            width: calc(var(--heartWidth) + 5px);
        }
        .likesNumber {
            // animation: pulseNumber 2s ease infinite;
            font-size: calc(var(--likesNumberFontSize) + 3px);
        }
    }

    @include tablet {
        margin-left: 1.5em;
        width: 55px;
    }

    @include laptop {
        margin-left: 1.5em;
        width: 60px;
    }

    @include desktop {
        margin-left: 2em;
        width: 65px;
    }

    @include largeDesktop {
        margin-left: 2.5em;
        width: 75px;
    }

    @include wideScreen {
        margin-left: 3em;
        width: 85px;
    }
}

.likesNumber {
    position: absolute;
    font-size: 14px;
    --likesNumberFontSize: 14px;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--dark-mode-white);
    transition: font-size 1s;

    @include largePhones {
        font-size: 15px;
        --likesNumberFontSize: 15px;
    }

    @include tablet {
        font-size: 17px;
        --likesNumberFontSize: 17px;
    }

    @include laptop {
        font-size: 20px;
        --likesNumberFontSize: 20px;
    }

    @include desktop {
        font-size: 22px;
        --likesNumberFontSize: 22px;
    }

    @include largeDesktop {
        font-size: 24px;
        --likesNumberFontSize: 24px;
    }

    @include wideScreen {
        font-size: 28px;
        --likesNumberFontSize: 28px;
    }
}

.heart {
    fill: var(--red1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    --heartWidth: 40px;
    transition: width 1s;

    &.selected {
        fill: var(--red4);
    }

    @include tablet {
        width: 55px;
        --heartWidth: 55px;
    }

    @include laptop {
        width: 60px;
        --heartWidth: 60px;
    }

    @include desktop {
        width: 65px;
        --heartWidth: 65px;
    }

    @include largeDesktop {
        width: 75px;
        --heartWidth: 75px;
    }

    @include wideScreen {
        width: 85px;
        --heartWidth: 85px;
    }    
}


@keyframes pulse {
    0% { 
        width: var(--heartWidth);
    }
    50% { 
        width: calc(var(--heartWidth) + 5px);
    }
    100% { 
        width: var(--heartWidth);
    }
}

@keyframes pulseNumber {
    0% { 
        font-size: var(--likesNumberFontSize);
    }
    50% { 
        font-size: calc(var(--likesNumberFontSize) + 3px);
    }
    100% { 
        font-size: var(--likesNumberFontSize);
    }
}

.siteBlock {
    grid-row: 2;
    grid-column: 1 / 3;
    position: relative;
}

.thumbnail iframe {
    height: calc(80vh - 20px);
    width: calc(97% - 2em);
    overflow: hidden;
    margin: 10px auto;
    border: 5px solid var(--dark-mode-white);
    border-radius: 10px;
    background-color: white;
}

.comments {
    height: calc(80vh - 20px);
    width: calc(97% - 2em);
    overflow: hidden;
    margin: 10px auto;
    border: 1px solid var(--dark-mode-white);
    border-radius: 10px;
    
    grid-column: 1 / 3;
    grid-row: 3;

    display: grid;
    grid-template-rows: max-content 1fr max-content;
    
    @include largePhones {
        width: calc(97% - 2em);
    }

    @include laptop {
        width: 50%;
    }
}

.commentsTitle {
    grid-row: 1;
    width: 100%;
    padding: 1em 0;
    margin: 0;
    color: var(--dark-mode-white);
    border-bottom: 1px solid var(--dark-mode-white);
}

.commentInputBlock {
    grid-row: 3;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid var(--dark-mode-white);
}

.commentInput {
    width: 60%;
    min-width: 60%;
    max-width: 60%;
    border-radius: 10px;
    outline: none;
    margin: 1em 0;
    border: 1px solid var(--dark-mode-white);
    padding: .5em;
    min-height: 2em;

    font-size: 16px;

    &::placeholder {
        color: rgb(59, 57, 57);
    }

    @include tablet {
        width: 80%;
        min-width: 80%;
        max-width: 80%;
    }
}

.submitComment {
    align-self: center;
    height: max-content;
    padding: .5em;
    border: 1px solid var(--blue6);
    margin: 0;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: var(--blue5);

    &:hover {
        background-color: var(--blue4);
    }
}

.pageButtons {
    grid-row: 4;
    grid-column: 1 / 3;
    display: flex;
    overflow: hidden;
    margin: 40px 0;
}

  .tooltip {

    position: relative;
    background: var(--dark-mode-white);
    padding: 5px 12px;
    margin: 5px;
    font-size: 15px;
    border-radius: 100%;
    color: black;
    width: 5px;
    height: max-content;
  }
  
  .tooltip:before,
  .tooltip:after {
    z-index: 99999;
    position: absolute;
    content: '';
    opacity: 0;
    transition: all 0.4s ease;
  }
  
  .tooltip:before {
    border-width: 0 8px 10px 8px;
    border-style: solid;
    border-color: transparent transparent var(--dark-mode-white) transparent;
    top: 40px;
    left: 7px;
    transform: translateY(-20px);
  }
  
  .tooltip:after {
    content: attr(data-tooltip);
    background: var(--dark-mode-white);
    width: max-content;
    max-width: 270px;

    @include tablet {
        max-width: 350px;
    }
    min-width: 150px;
    text-align: left;
    height: max-content;
    font-size: 13px;
    font-weight: 300;
    top: 49px;
    right: 0;    
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    transform: translateY(-20px);
  }
  
  .tooltip:hover::before,
  .tooltip:hover::after {
    opacity: 1;
    transform: translateY(-2px);
  }