.post {
    width: 100vw;
    margin-top: 2em;
    // overflow-x: hidden;
}


.infoBlock {
    // display: inline-block;
    width: 100%;
    margin: 0;
    height: 100%;
}

.titleBlock, .urlBlock, .descriptionBlock {
    // z-index: 0;
}

.label {
    font-size: 20px;
    display: block;
    text-align: left;
    margin: 0 0 .5em 30%;
    color: var(--dark-mode-white);
}

.postBlock input, .postBlock textarea {
    background-color: transparent;
    font-size: 25px;
    width: 90%;
    display: block;
    margin: 0 0 2em 5%;
    outline: none;
    color: var(--dark-mode-white);
    border: 1px solid var(--dark-mode-white);
}


.descriptionBlock {
    textarea {
        font-size: 20px;
        height: 5em;
    }
}

.submitDiv {
    width: 100%;
    margin: auto;
    height: 100%;
}

.submitButton {
    font-size: 25px;
    font-weight: 700;
    // display: block;
    // margin: 3em 50% 0 auto;
    border: 1px solid black;
    width: max-content;
    padding: 4em;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--gray1);
    color: var(--green3);
    transition: box-shadow 0.5s, color .5s;
    box-shadow: inset 0 0 0 0 var(--green3);

    &:hover {
        box-shadow: inset 0 0 20em 5em var(--green3);
        color: var(--gray1);
        transition: box-shadow .5s, color .5s;
    }
}

.post .iframe {
    display: block;
    margin: auto;
    width: 70%;
    height: 70vh;
    margin-bottom: 5vh;
}