@import "./defaults.scss";

.searchDropdown {
    background-color: red;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    z-index: 99999999999999;
    box-shadow: 0px 0px 15px 5px var(--dark-mode-gray);

}

.searchOption {
    cursor: pointer;
    border: 1px solid var(--gray3);
    background-color: var(--gray1);
    z-index: 99999999999999;


    &:hover {
        background-color: var(--yellow1);
    }

    font-size: 16px;

    @include tablet {
        font-size: 18px;
    }

    @include desktop {
        font-size: 20px;
    }

    @include wideScreen {
        font-size: 24px;
    }
}

.searchOption .title {
    margin: .5em 0 .5em 1em;
    padding: .5em 0 0 0;
    font-weight: 900;
}

.searchOption .url {
    margin: .5em 0 .5em 1em;
    font-weight: 500;
    padding: 0 0 .5em 0;
}

.searchOption .description {
    margin: .5em 0 .5em 1em;
    font-weight: 300;
}