@import './styles/defaults.scss';

.App {
  text-align: center;
  min-width: 100vw;
  height: max-content;
  // width: 100vw;
}

.mainpage {
  width: 100%;
  // height: 100%;
}

.logo {
  position: fixed;
  display: none;
  background: radial-gradient(ellipse closest-side, rgba(37, 44, 63, 1), rgba(37, 44, 63, 0));
  border-radius: 10px;


  @include laptop {
      display: block;
      // position: absolute;
      width: 180px;
      top: 30px;
      left: 20px;
      cursor: pointer;
      z-index: 99999999999999;
      padding: 1em
  }

  @include desktop {
    left: 40px;
    width: 220px;
  }

  @include largeDesktop {
    left: 50px;
    width: 250px;
  }

  @include wideScreen {
    left: 70px;
    width: 300px;
  }
}